#arjsDebugUIContainer{
	display: none;
}

.a-enter-vr-button{
	display: none;
}

.ui{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

#cleared-flags{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
    z-index: 1;
}

.howtobtn{
	right: 50%;
}

.sharebtn{
	align-content: right;
}
